* {
    margin: 0px;
    padding: 0px;
}

:root {
    --lightblue1: #005eff17;
    --lightblue2: #015dfd3c;
    --blue: #1266f8;
    --darkblue: #000299;
    --black: #1a1a1a;
}

p {
    font-size: 1.05rem;
    line-height: 1.4;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    font-weight: 500;
}




@media screen and (min-width: 500px) {

    p {
        font-size: 1.12rem;
    }    
}


@media screen and (min-width: 700px) {

    p {
        font-size: 1.15rem;
    }
}


@media screen and (min-width: 900px) {

    p {
        font-size: 1.17rem;
    }

}