.wrapper {
    padding: 65px 40px;
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

.hding_one {
    font-size: 42px;
}

.hding_two {
    font-size: 24px;
    margin: 24px 0px;
}

.hding_three {
    font-size: 17px;
}

.s_text {
    padding: 0px 0px 0px 20px;
}

.stack_content {
    padding: 30px 0px 15px 0px;

}

.stack_portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 20px 0px 25px 0px;
    
}

.stack_outline {
    background-color: var(--lightblue1);
    margin: 0px 10px 10px 0px;
    padding: 10px;
    border-radius: 8px;
    font-size: .8em;
    border: 1px solid var(--lightblue2);
    color: var(--blue);
}

.stack_outline_special {
    background-color: var(--blue) !important;
    color: #fff !important;
    border: 1px solid var(--darkblue) !important;
}

.text_two {
    display: grid;
    gap: 10px;
}

.text_two_p {
    font-size: calc(100% - 0.1%);
}

.text_two_hr {
    opacity: 20%;
}

.icons_content {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 30px 0px;
    max-width: 250px;
}

.fa-brands, .fa-solid {
    font-size: 1.3rem;
    border: 1px solid #1266f83c;
    padding: 8px;
    border-radius: 10px;
}




@media screen and (min-width: 500px) {

    .wrapper {
        padding: 95px 55px;
    }

    .hding_one {
        font-size: 36px;
    }

    .hding_two {
        font-size: 26px;
    }  
    
    .text_two_p {
        font-size: calc(100% - 0.1%);
    }
}

@media screen and (min-width: 700px) {

    .wrapper {
        max-width: 450px;
        margin: 0px auto 0px 5%;
    }

    .hding_one {
        font-size: 55px;
    }

    .hding_two {
        font-size: 28px;
    }

    .text_two_p {
        font-size: calc(100% - 0.1%);
    }

    .icons_content {
        margin: 30px auto 30px 0px;
        max-width: 300px;
    }
    
    .fa-brands, .fa-solid {
        font-size: 1.4rem;
        border: 1px solid #1266f83c;
        padding: 10px;
        border-radius: 10px;
    }

}

@media screen and (min-width: 900px) {

    .wrapper {
        max-width: 550px;
        margin: 0px auto 0px 5%;
    }

    .hding_one {
        font-size: 55px;
    }

    .hding_two {
        font-size: 28px;
    }

    .text_two_p {
        font-size: calc(100% - 0.1%);
    }
}
